.online{
    height: 15px;
    width: 15px;
    background-color: #004A7F;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    animation: onlineglowing 1500ms infinite;
    margin-left: auto;
}

@keyframes onlineglowing {
    0% { background-color: green; box-shadow: 0 0 3px green; }
    50% { background-color: green; box-shadow: 0 0 40px green; }
    100% { background-color: green; box-shadow: 0 0 3px green; }
  }
  
.actionBar{
    display: flex;
    grid-gap: 16px;
    color: #FF6600;
    font-size: 11px;
    font-weight: 800;
    background-color: #e3e3e3;
    width: 100%;
    padding-left: 8px;
}
